@model IEnumerable<PriceVM>


@section style {
    <link href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.dataTables.min.css" rel="stylesheet" />
}

@section titleStart {
    Prices
}
@section titleSeceond {
    All Prices
}

@section Header {
   Prices
}


<div class="col-md-12">
    <div class="card">

        <div class="card-header d-flex">
            <h3 class="card-title">ALL Prices</h3>
        </div>
        <a class="btn btn-primary btn-md align-self-end mr-1 mt-1" asp-controller="Prices" asp-action="Create">Create</a>


        <!-- /.card-header -->
        <div class="card-body">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Subscripe Name</th>
                        <th>Inital Price</th>
                        <th>Discount</th>
                        <th>Final Price</th>
                        <th>IsDeleted</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.InitalPrice$</td>
                            <td>@item.Discount%</td>
                            <td>@item.FinalPrice$</td>
                            <td>@item.IsDeleted</td>
                            <td>
                                <a class="btn btn-info btn-sm" asp-controller="Prices" asp-route-Id="@item.Id" asp-action="Details">Detailes</a>
                                <a class="btn btn-warning btn-sm" asp-controller="Prices" asp-route-Id="@item.Id" asp-action="Edit">Edit</a>
                                <a href="javascript:void(0)" data-Id="@item.Id" class="btn btn-danger btn-sm delete-btn">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->
</div>

@section script {
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" integrity="sha512-XMVd28F1oH/O71fzwBnV7HucLxVwtxf26XV8P4wPk26EDxuGZ91N8bsOttmnomcCD3CS5ZMRL50H0GgOHvegtg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.12/pdfmake.min.js" integrity="sha512-axXaF5grZBaYl7qiM6OMHgsgVXdSLxqq0w7F4CQxuFyrcPmn0JfnqsOtYHUun80g6mRRdvJDrTCyL8LQqBOt/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.12/vfs_fonts.min.js" integrity="sha512-EFlschXPq/G5zunGPRSYqazR1CMKj0cQc8v6eMrQwybxgIbhsfoO5NAMQX3xFDQIbFlViv53o7Hy+yCWw6iZxA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>


    <script>
        new DataTable('table', {
            layout: {
                topStart: {
                    buttons: [
                        'copy', 'excel', 'pdf'
                    ]
                }
            }
        });

        const DeleteButtons = document.querySelectorAll(".delete-btn");
        DeleteButtons.forEach(function (button) {

            button.addEventListener("click", async () => {

                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: "btn btn-success",
                        cancelButton: "btn btn-danger"
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({

                    title: "Are you sure for delete price ?",
                    text: "you are have for delete price finally!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel!",
                    reverseButtons: true
                }).then(async (result) => {
                    if (result.isConfirmed) {
                        const id = button.dataset.id;

                        const response = await fetch(`/Dashboard/Prices/DeleteConfirm/${id}`, {
                            method: 'POST',
                            headers: {
                                "Content-Type": "application/json"
                            }
                        });
                        const data = await response.json();
                        console.log(data);

                        if (response.ok) {
                            $(button).closest("tr").remove();
                        }

                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.onmouseenter = Swal.stopTimer;
                                toast.onmouseleave = Swal.resumeTimer;
                            }
                        });
                        Toast.fire({
                            icon: "success",
                            title: "Price Deleted is successfully"
                        });
                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.onmouseenter = Swal.stopTimer;
                                toast.onmouseleave = Swal.resumeTimer;
                            }
                        });
                        Toast.fire({
                            icon: "error",
                            title: "delete price is cancelled "
                        });
                    }
                });


            })

        })


    </script>
}
