@using Microsoft.AspNetCore.Identity
@using Landing.DAL.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/Dashboard/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">MyDashboard Landing</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Dashboard/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                     @if (SignInManager.IsSignedIn(User))
                {
                    <span class="font-weight-bold text-light">Hello @User.Identity?.Name.Split("@")[0]!</span>
                }
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link @(IsActive("Services"))">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Services
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Services" asp-action="Index" class="nav-link @(IsActive("Services", "Index"))">
                                <i class="far fa-circle nav-icon"></i>
                                <p>All Services</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Services" asp-action="Create" class="nav-link @(IsActive("Services", "Create"))">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create Service</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link @(IsActive("Sliders"))">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Sliders
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Sliders" asp-action="Index" class="nav-link @(IsActive("Sliders", "Index"))">
                                <i class="far fa-circle nav-icon"></i>
                                <p>All Sliders</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Sliders" asp-action="Create" class="nav-link @(IsActive("Sliders", "Create"))">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create Slider</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link @(IsActive("Portfolios"))">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Portfolios
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Portfolios" asp-action="Index" class="nav-link @(IsActive("Portfolios", "Index"))">
                                <i class="far fa-circle nav-icon"></i>
                                <p>All Portfolios</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Portfolios" asp-action="Create" class="nav-link @(IsActive("Portfolios", "Create"))">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create Portfolio</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link @(IsActive("Items"))">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Items
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Items" asp-action="Index" class="nav-link @(IsActive("Items", "Index"))">
                                <i class="far fa-circle nav-icon"></i>
                                <p>All Items</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Items" asp-action="Create" class="nav-link @(IsActive("Items", "Create"))">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create Item</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link @(IsActive("Users"))">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Users
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Users" asp-action="Index" class="nav-link @(IsActive("Users", "Index"))">
                                <i class="far fa-circle nav-icon"></i>
                                <p>All Users</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Users" asp-action="Create" class="nav-link @(IsActive("Users", "Create"))">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create User</p>
                            </a>
                        </li>
                    </ul>
                </li>


                <!-- Other sections similar to above -->
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item d-flex gap-1 p-1">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Account", "Login", new { area = "Identity" })">
                            <img src="~/Dashboard/img/logout.svg" width="20" alt="logout logo" style="margin:8px;" />
                            <button type="submit" class="btn btn-link text-danger">Logout</button>
                        </form>
                    </li>
                }
            </ul>
        </nav>

        @functions {
            private string IsActive(string controller, string action = null)
            {
                var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
                var currentAction = ViewContext.RouteData.Values["action"]?.ToString();

                if (string.Equals(currentController, controller, StringComparison.OrdinalIgnoreCase))
                {
                    if (action == null || string.Equals(currentAction, action, StringComparison.OrdinalIgnoreCase))
                    {
                        return "active";
                    }
                }
                return "";
            }
        }

        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

